@import url("https://fonts.cdnfonts.com/css/gang-of-three");
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
